
.container{
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.add_task_button{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0 20px 20px;
}

.tasks-type{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.main-card{
  border: 1px solid #000;
}

.card-title {
  border-bottom: 1px solid;
  text-align: center;
}

.single-task {
  padding: 10px;
  border: 1px solid;
  margin: 20px;
  cursor: pointer;
}
